.filter-buttons {  
    display: flex;  
    justify-content: center;  
    margin-bottom: 20px;
    gap: 10px;
}  

.filter-buttons button {
    background-color: white;
    color: black;
    border: 1px solid #1D6154;
    border-radius: 60px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
}  

.filter-buttons button:hover {  
    background-color: #1D6154;  
    color: white;  
}  

.hidden {  
    display: none;  
}  